venv
__pycache__/
*.py[cod]
.python-version
.env

*.so

bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.eggs

pip-log.txt
pip-delete-this-directory.txt

.tox/
.coverage
.cache
nosetests.xml
coverage.xml
.pytest_cache

*.mo
*.DS_Store

.mr.developer.cfg
.project
.pydevproject

.ropeproject

*.log
*.pot

docs/_build/
.venv/
results.xml